# ----------------------------------------------------------------------------
# Flutter/Dart/Pub
# ----------------------------------------------------------------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Chặn triệt để các file sinh ra bởi Build Runner (Drift, Retrofit, v.v.)
*.g.dart
*.freezed.dart
*.template.dart
lib/data/data_source/database/*.g.dart

# ----------------------------------------------------------------------------
# FVM (Flutter Version Management)
# ----------------------------------------------------------------------------
# Chặn sạch thư mục .fvm và các file cấu hình để Tab Commit không bị đỏ
.fvm/
.fvmrc
fvm_config.json

# ----------------------------------------------------------------------------
# Android
# ----------------------------------------------------------------------------
**/android/app/debug
**/android/app/profile
**/android/app/release
**/android/app/src/main/res/raw/
.gradle/
local.properties
*.keystore
*.jks
*.properties
flutter_export_environment.sh
generated/

# ----------------------------------------------------------------------------
# iOS/macOS
# ----------------------------------------------------------------------------
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/ios/.generated/
.pbpodversions
Pods/
DerivedData/
*.moved-aside
*.xcuserstate
*.xcresult
.DS_Store

# Chặn Podfile theo ý bạn để sạch Tab Commit
ios/Podfile
ios/Podfile.lock

# ----------------------------------------------------------------------------
# IDE (Android Studio, VS Code, JetBrains)
# ----------------------------------------------------------------------------
.idea/
.vscode/
*.iml
*.ipr
*.iws
.history/
*.sublime-project
*.sublime-workspace

# ----------------------------------------------------------------------------
# Secrets & Security
# ----------------------------------------------------------------------------
.env
.env.*
android/key.properties
ios/Runner/GoogleService-Info.plist
android/app/google-services.json

# ----------------------------------------------------------------------------
# Miscellaneous
# ----------------------------------------------------------------------------
*.log
*.temp
*.tmp
*.swp
doc/api/
/coverage/