# ----------------------------------------------------------------------------
# Flutter/Dart/Pub liên quan
# ----------------------------------------------------------------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
# Nếu bạn muốn người khác tự chạy build_runner thì bỏ comment dòng dưới
# *.g.dart
# *.freezed.dart

# ----------------------------------------------------------------------------
# FVM (Flutter Version Management)
# ----------------------------------------------------------------------------
# Quan trọng: Giữ lại .fvm/fvm_config.json để định nghĩa version Flutter cho dự án
.fvm/flutter_sdk

# ----------------------------------------------------------------------------
# Android liên quan
# ----------------------------------------------------------------------------
**/android/app/debug
**/android/app/profile
**/android/app/release
**/android/app/src/main/res/raw/
.gradle/
local.properties
*.keystore
*.jks
*.properties
flutter_export_environment.sh

# ----------------------------------------------------------------------------
# iOS/macOS liên quan
# ----------------------------------------------------------------------------
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/ios/.generated/
.pbpodversions
Pods/
Podfile.lock
DerivedData/
*.moved-aside
*.xcuserstate
*.xcresult
.DS_Store

# ----------------------------------------------------------------------------
# IDE liên quan (Android Studio & VS Code)
# ----------------------------------------------------------------------------
.idea/
.vscode/
*.iml
*.ipr
*.iws
.history/

# ----------------------------------------------------------------------------
# Bảo mật & Môi trường (Secrets)
# ----------------------------------------------------------------------------
.env
.env.*
# Không bao giờ push key lên Git
android/key.properties
ios/Runner/GoogleService-Info.plist
android/app/google-services.json

# ----------------------------------------------------------------------------
# Miscellaneous (Tạp nham)
# ----------------------------------------------------------------------------
*.log
*.temp
*.tmp
*.swp
doc/api/
/coverage/