# ----------------------------------------------------------------------------
# Flutter/Dart/Pub
# ----------------------------------------------------------------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Ghi chú: Nếu bạn muốn team phải tự chạy build_runner thì bỏ comment dòng dưới
# *.g.dart
# *.freezed.dart
# *.template.dart

# ----------------------------------------------------------------------------
# FVM (Flutter Version Management)
# ----------------------------------------------------------------------------
# CHẶN thư mục chứa bộ cài SDK nặng (hàng GB)
.fvm/flutter_sdk
.fvm/versions/
.fvm/release
.fvm/version

# GIỮ lại file cấu hình để mọi máy đều dùng chung version Flutter
!.fvm/fvm_config.json
!.fvmrc

# ----------------------------------------------------------------------------
# Android
# ----------------------------------------------------------------------------
**/android/app/debug
**/android/app/profile
**/android/app/release
**/android/app/src/main/res/raw/
.gradle/
local.properties
*.keystore
*.jks
*.properties
flutter_export_environment.sh
generated/

# ----------------------------------------------------------------------------
# iOS/macOS
# ----------------------------------------------------------------------------
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/ios/.generated/
.pbpodversions
Pods/
# Giữ lại Podfile.lock để đồng bộ version library native
# Podfile.lock
DerivedData/
*.moved-aside
*.xcuserstate
*.xcresult
.DS_Store

# ----------------------------------------------------------------------------
# IDE (Android Studio, VS Code, JetBrains)
# ----------------------------------------------------------------------------
.idea/
.vscode/
*.iml
*.ipr
*.iws
.history/
*.sublime-project
*.sublime-workspace

# ----------------------------------------------------------------------------
# Secrets & Security (Tuyệt đối không push lên Git)
# ----------------------------------------------------------------------------
.env
.env.*
android/key.properties
ios/Runner/GoogleService-Info.plist
android/app/google-services.json

# ----------------------------------------------------------------------------
# Miscellaneous
# ----------------------------------------------------------------------------
*.log
*.temp
*.tmp
*.swp
doc/api/
/coverage/